form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 10px 0;
  }
  form input#name,
  form input#email,
  form input#subject {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 1.1em;
  }
  form textarea#message {
    width: 500px;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
  }
body, html {
  height: 100%;

  font-family: 'Trebuchet MS', sans-serif;
}
html{
  background: url(https://images.pexels.com/photos/887751/pexels-photo-887751.jpeg?auto=compress&cs=tinysrgb&w=300) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  image-rendering: crisp-edges;
  background-position: 50% 50%;
}
.bt{
  background-image: url("https://images.pexels.com/photos/2566581/pexels-photo-2566581.jpeg?auto=compress&cs=tinysrgb&w=300");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepic{
  background-image: url("https://t3.ftcdn.net/jpg/05/07/06/56/240_F_507065622_MPSrjApKFASkjYoQJkt8223pQC01ltts.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.teamname{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  padding: 10px;
  margin: 30px;
}

.form-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;

}

.topbutton{
  padding: 3px;
  margin-top: 30px;
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

p {
  margin: 0;
  font-size: 14px;
}
